{% extends "layout.html" %}

{% block title %}
My Data
{% endblock %}

{% block main %}
<h3>Your Data/Suggestions:</h3>

<br>

<ul class="list-group">
{% for suggestion in suggestions %}
    <li class="list-group-item list-group-item-info">{{ suggestion }}</li>
{% endfor %}
</ul>

<br>

<table class="table">
    <thead class="thead-dark">
        <tr>    
            <th scope="column">Date/Time</th>
            <th scope="column">BPM</th>
            <th scope="column">BP (Sys/Dia)</th>
            <th scope="column">Weight</th>
            <th scope="column"></th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row[1] }}/{{ row[2] }}/{{ row[0] }}, {{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}/{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>
                <form action="/delete_entry" method="post">
                    <input type="hidden" name="record_id" value="{{ row[8] }}">
                    <button class="btn btn-primary bi bi-trash" type="submit"></button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}