<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <title>Health Tracker: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-dark  navbar-expand-md bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="static/images/Heart-rate-symbol.png" style="height:5vw" class=" img-fluid align-center" alt='Image Of Heart'>
                    <span class="align-center" style="font-size:larger">Health Tracker</span>
                </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                {% if session["user_id"] %}
                    {% if session["shared-view"] %}
                        <ul class="navbar-nav me-auto d-flex align-items-center">
                            <li><a class="nav-item nav-link" href="/">Data</a></li>
                            <li><a class="nav-item nav-link" href="/graphs">Graphs</a></li>
                        </ul>

                    {% else %}
                        <ul class="navbar-nav me-auto d-flex align-items-center">
                            <li><a class="nav-item nav-link" href="/">My Data</a></li>
                            <li><a class="nav-item nav-link" href="/enter">Enter Data</a></li>
                            <li><a class="nav-item nav-link" href="/graphs">Graphs</a></li>
                            <li><a class="nav-item nav-link" href="/share">Share/View Shared</a></li>
                        </ul>
                    {% endif %}

                    <ul class="navbar-nav ml-auto d-flex align-items-center">
                        <li><a class="nav-item nav-link" href="/logout">Log Out</a></li>
                    </ul>

                {% else %}
                    <ul class="navbar-nav ml-auto d-flex align-items-center">
                        <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
                </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert-container alert-danger text-center" style="list-style-type: none;" role="alert">
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}" style="font-size: large">
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
                
            {% endif %}
        {% endwith %}
        
        <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>