{% extends "layout.html" %}

{% block title %}
{{ username }}'s Shared Data
{% endblock %}

{% block main %}
<div class="d-flex justify-content-between align-items-center">
    <a class="position-absolute start-0 link-opacity-75-hover" href="/share"><span style="font-size: 1.5vw;">Exit Shared</span></a>
    <h3 class="mx-auto">Data/Suggestions For {{ username }}:</h3>
</div>


<br>

<ul class="list-group">
{% for suggestion in suggestions %}
    <li class="list-group-item list-group-item-info">{{ suggestion }}</li>
{% endfor %}
</ul>

<br>

<table class="table">
    <thead class="thead-dark">
        <tr>    
            <th scope="column">Date/Time</th>
            <th scope="column">BPM</th>
            <th scope="column">BP (Sys/Dia)</th>
            <th scope="column">Weight</th>
            <th scope="column"></th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row[1] }}/{{ row[2] }}/{{ row[0] }}, {{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}/{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}